body{
    background-image: url("index_image.jpg");
    margin-top: 0px;
	font-family: "courier new", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
	}

h1{
	font-family: "courier new", sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #FFFFFF;
    top-margin:20px;
    width: 100%;
    text-align: center;
	}

div{
    font-family: "courier new", sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #FFFFFF;
    top-margin: 15%;
    width: 50%;
    text-align: center;
    padding: 5px 20px;
    }

div.essay{
    font-family: "courier new", sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #FFFFFF;
    top-margin: 15%;
    width: 50%;
    text-align: justify;
    padding: 5px 20px;
    }

a:link{
	color: #e64040;
	text-decoration: underline;
	}

a:visited{
	color: #e64040;
	text-decoration: underline;
	}

a:hover{
	color: #7c0f0f;
	text-decoration: underline;
	}

a:active{
	color: #e64040;
	text-decoration: underline;
	}

}