---
title: nina's games
extends: base.j2
---
{% block scripts %}
<script type="text/javascript" src="{{ media_url('js/namecolor.js') }}"></script>
{% endblock scripts %}

{% block content %}
	<table id = "gameName">
    <tr id="myName">
    	<td>E</td>
        <td>L</td>
        <td>E</td>
        <td>K</td>
        <td>T</td>
        <td>R</td>
        <td>O</td>
        <td>C</td>
        <td>A</td>
        <td>R</td>
        <td>D</td>
        <td>I</td>
        <td>O</td>
        <td> </td>
        <td> </td>
        <td>K</td>
        <td>L</td>
        <td>I</td>
        <td>M</td>
        <td>B</td>
        <td>I</td>
        <td>N</td>
        <td>G</td>
        <td> </td>
        <td> </td>
        <td>G</td>
        <td>A</td>
        <td>M</td>
        <td>E</td>
    </tr>
	</table>
	<embed src="PlayDoctor.swf" width="640" height="480">
    </embed>
    <p>
    <div id = "games">made @ <a href = "http://globalgamejam.org/2013/ekg-elektrocardio-klimbing-game" target="0">Global Game Jame '13</a> // nina freeman (me), rob dionne, diego garcia and franziska zeiner</div>
    <div id = "back"><a href="/games"><< back</a></div>
{% endblock content %}