---
title: nina's games
extends: base.j2
---
{% block scripts %}
<script type="text/javascript" src="{{ media_url('js/namecolor.js') }}"></script>
{% endblock scripts %}

{% block content %}
	<table id = "gameName">
    <tr id="myName">
    	<td>M</td>
        <td>Y</td>
        <td> </td>
        <td> </td>
        <td>H</td>
        <td>O</td>
        <td>U</td>
        <td>S</td>
        <td>E</td>
        <td> </td>
        <td> </td>
        <td>M</td>
        <td>Y</td>
        <td> </td>
        <td> </td>
        <td>R</td>
        <td>U</td>
        <td>L</td>
        <td>E</td>
        <td>S</td>
    </tr>
	</table>
	<div id="embedgame"><embed src="Molyjam.swf" width="640" height="480">
    </embed></div>
    <div id="games">
    <b>My House My Rules</b>
    <p>
    <b>CLICK IN THE BOX ABOVE TO PLAY.</b>
    <p>
    Move using your arrow keys: left, right, up and down. Hold Z to pick up and carry snacks to hide in your stash. (Hint: it's blinking!). Don't let mom catch you with snacks... or your stash! To distract her, knock stuff over with Z.
    <p>
    Made @ <a href = "http://www.molyjam.com" target="0">Molyjam 2013</a> // Nina Freeman (me), <a href="http://emmettbutler.com" target="0">Emmett Butler</a> and music by <a href="http://seancom.nfshost.com/" target="0">seagaia</a>
    <p>
    My House My Rules is a game about a little girl and her snack stash. Her moms don't allow snacks, so she has sneak around the house and save them for later. Don't get caught! The idea for this game comes from Nina's own youth. Her mom was very strict about snacking, and would swoop in any time she heard even a squeak from the kitchen.
    <p>
    This game was made using Flixel and Adobe Photoshop. You can view the <a href="https://github.com/hentaiphd/Molyjam" target="0">Github repository</a> and our <a href="http://www.molyjam.com/games/182" target="0">Molyjam submission page</a>.</div>
    <div id = "back"><a href="/games"><< back</a></div>
{% endblock content %}